[submodule "ansible-playbooks"]
	path = ansible-playbooks
	url = git@gitlab.ensimag.fr:sdtd_2022-my-awesome-group/devops/ansible-playbooks.git
[submodule "terraform-resources"]
	path = terraform-resources
	url = git@gitlab.ensimag.fr:sdtd_2022-my-awesome-group/devops/terraform-resources.git
[submodule "kubernetes-manifests-devops"]
	path = kubernetes-manifests-devops
	url = git@gitlab.ensimag.fr:sdtd_2022-my-awesome-group/devops/kubernetes-manifests-devops.git
